.chatslist
	color: #fff
	display: flex
	justify-content: flex-end
	padding-left: 40px

	& a
		display: inline
		text-align: left

h4
	text-align: center

.app__sidebar
	width: 40%
	text-align: left

.app__main
	width: 60%
	text-align: center
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

.Mui-selected
	background-color: #030000

.chatslistinput
	margin-top: 25px
	width: 400px
	height: 100px

.flexed
	display: flex
	justify-content: space-between
	width: 400px

.container
	width: 960px
	margin: 0 auto
