.chatslist
	color: #fff
	display: flex
	justify-content: start
	& a
		display: inline
		text-align: left

.app__sidebar
	width: 40%

.app__main
	width: 60%
	text-align: center
	display: flex
	flex-direction: column
	align-items: center
	justify-content: center

.Mui-selected
	background-color: #030000
